# internal documents
docs/NOTES.md
docs/PROJECT-PLANS.md

# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Build output
dist
dist-ssr
*.local
build/
/src/generated/prisma

.vscode/
.idea/

#Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*