# internal documents
docs/NOTES.md
docs/PROJECT-PLANS.md

# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Build output
dist/
build/
/src/generated/prisma

.vscode/
.idea/